* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .3px solid black; */
    background-color:white
}
img, video{
    max-width: 100%;
    max-height: 100%;
}
html {
    scroll-behavior: smooth;
}
:root {
    --gray: #EFEFEF;
    --yellow: #FCFFE7;
}
@font-face {
    font-family: "fun";
    src: url("assets/fonts/Acumin-RPro.otf")
}

body {
    font-family: "fun", sans-serif;
    font-style: light;
    line-height: 1.2;
    font-size: smaller;
}
/* -------------- nav bar  -------------- */
.top-nav,
.bottom-nav {
    z-index: 999;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
}
.top-nav {
    top: 0px;
}
.bottom-nav {
    bottom: 0px;
}
.nav-link,
.dropdown {
    width: 30vw;
    flex: 1;
}
.nav-link {
    padding: 15px 20px;  
}
/*changing on hover*/
#home-nav-link {
    background-color:white;
}
#project-number, #nav-3, #nav-4, #nav-6, #nav-2, #nav-5{
    background-color: white;
}
/* -------------- dropdown -------------- */
.dropdown {
    display: flex;
    flex-direction: row;
}
.dropdown-content-1 {
    width: 34.5vw;
    left: 0px;
}
.dropdown-content-2 {
    width: 100vw;
}
.dropdown-content-1,
.dropdown-content-2 {
    display: none;
    opacity: 0;
    height:0;
}
.dropdown-content-1.active,
.dropdown-content-2.active {
    display: flex;
    opacity: 1;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
    height: 100vh;
    padding-top: 40px;
    animation-name: drop;
    animation-duration: 1s;
}
.dropdown-text {
    width: 30vw;
    padding-left: 20px;
    animation-name: drop;

}
@keyframes drop {
    from {height: 0vh}
    to {height:97vh}
  }
p,
a {
    padding: 5px 0px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}
#profile-img {
    width: 15vw;
    padding-top: 20px;
    padding-left: 20px;
}
/*------------- sandbox ------------- */

.body-text {
    padding-top: 70px;
    padding-left: 20px;
}

/*------------- portfolio grid ------------- */

.grid {
    columns: 2 400px;
    gap: 10px;
}
.grid-item {
    padding-top: 20px;
}
.grid-item img,
.grid-item video {
    transition-duration: .3s;
    filter: grayscale(50%);


}
.grid-item:hover img:hover,
.grid-item:hover video:hover,
.flex-item:hover {
    /* border-radius: 10px; */
    filter: drop-shadow(0 0 4rem white);
}
#portfolio {
    margin: 15px;
}
.grid a,
.flex-container a{
    text-decoration: none;
}
#portfolio ul,
.flex-container li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: color .1s ease;

}
#portfolio a:hover ul,
.flex-container a:hover li {
    color: black;
}
#portfolio video {
    width: 100vw;
}
/*------------- coming soon ------------- */

.flex-container {
    padding-top: 40px;
    gap:10px;
    display: flex;
    margin: 15px;
    justify-content: space-between;
}
.flex-item {
    flex: 1;
}
.flex-item img {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 4/3;
    object-fit: cover;
    filter: grayscale(50%);

}
.flex-item img:hover {
    filter: grayscale(0%);
    cursor: not-allowed;
}


/*------------- project page ------------- */
.black-bg {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
}

.project-container {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-container img, .project-container video{
    width: 100vw;
    aspect-ratio: 16/10;
    object-fit: cover;

}
#full-screen {
    width: 90%;
}
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    padding-right: 40px;
} 
.iframe-container {
    width: 100%;
    height: 100%;
}
.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
.text-container h2 {
    font-size: 2em;
    font-weight: normal;
}
.project-text {
    width: 30vw;
}
#project-number {
    transition: opacity 0.5s ease;
}